<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Calculator</h1>
  <input type="number" placeholder="first number" class="form-control" [(ngModel)]="number1"><br/><br/>
  <input type="number" placeholder="second number" class="form-control" [(ngModel)]="number2">
  <br/><br/>
  <select class="form-control" [(ngModel)]="selOperation">
    <option value="+" selected>+</option>
    <option value="-">-</option>
    <option value="/">/</option>
    <option value="x">x</option>
  </select><br/><br/>
  <button type="submit" (click)='Calculate()'>calculate</button>
  <h4>{{pesan}}</h4>
</div>
